<!-- FEATURED PRODUCT SECTION START -->
<div class="featured-product-section mb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-left mb-40">
          <h2 class="uppercase">Featured product</h2>
          <h6>There are many variations of passages of brands available,</h6>
        </div>
      </div>
    </div>
    <div class="featured-product">
      <div class="row active-featured-product slick-arrow-2">
        <!-- product-item start -->
        <div class="col-xs-12">
          <div class="product-item">
            <div class="product-img">
              <a href="assets/single-product.html">
                                      <img src="assets/img/product/1.jpg" alt=""/>
                                  </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                                      <a href="assets/single-product.html">Product Name</a>
                                  </h6>
              <div class="pro-rating">
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-half"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-outline"></i></a>
              </div>
              <h3 class="pro-price">$ 869.00</h3>
              <ul class="action-button">
                <li>
                  <a href="assets/#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                  <a href="assets/#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product-item end -->
        <!-- product-item start -->
        <div class="col-xs-12">
          <div class="product-item">
            <div class="product-img">
              <a href="assets/single-product.html">
                                      <img src="assets/img/product/2.jpg" alt=""/>
                                  </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                                      <a href="assets/single-product.html">Product Name</a>
                                  </h6>
              <div class="pro-rating">
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-half"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-outline"></i></a>
              </div>
              <h3 class="pro-price">$ 869.00</h3>
              <ul class="action-button">
                <li>
                  <a href="assets/#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                  <a href="assets/#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product-item end -->
        <!-- product-item start -->
        <div class="col-xs-12">
          <div class="product-item">
            <div class="product-img">
              <a href="assets/single-product.html">
                                      <img src="assets/img/product/3.jpg" alt=""/>
                                  </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                                      <a href="assets/single-product.html">Product Name</a>
                                  </h6>
              <div class="pro-rating">
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-half"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-outline"></i></a>
              </div>
              <h3 class="pro-price">$ 869.00</h3>
              <ul class="action-button">
                <li>
                  <a href="assets/#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                  <a href="assets/#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product-item end -->
        <!-- product-item start -->
        <div class="col-xs-12">
          <div class="product-item">
            <div class="product-img">
              <a href="assets/single-product.html">
                                      <img src="assets/img/product/4.jpg" alt=""/>
                                  </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                                      <a href="assets/single-product.html">Product Name</a>
                                  </h6>
              <div class="pro-rating">
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-half"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-outline"></i></a>
              </div>
              <h3 class="pro-price">$ 869.00</h3>
              <ul class="action-button">
                <li>
                  <a href="assets/#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                  <a href="assets/#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product-item end -->
        <!-- product-item start -->
        <div class="col-xs-12">
          <div class="product-item">
            <div class="product-img">
              <a href="assets/single-product.html">
                                      <img src="assets/img/product/4.jpg" alt=""/>
                                  </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                                      <a href="assets/single-product.html">Product Name</a>
                                  </h6>
              <div class="pro-rating">
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-half"></i></a>
                <a href="assets/#"><i class="zmdi zmdi-star-outline"></i></a>
              </div>
              <h3 class="pro-price">$ 869.00</h3>
              <ul class="action-button">
                <li>
                  <a href="assets/#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                  <a href="assets/#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                  <a href="assets/#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product-item end -->
      </div>
    </div>
  </div>
</div>
<!-- FEATURED PRODUCT SECTION END -->
