<!-- UP COMMING PRODUCT SECTION START -->
<div class="up-comming-product-section mb-80">
  <div class="container">
    <div class="row">
      <!-- up-comming-pro -->
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="up-comming-pro gray-bg clearfix">
          <div class="up-comming-pro-img f-left">
            <a href="assets/#">
                                  <img src="assets/images/the-daddy.png" alt="The Phone Daddy Erick Whitford">
                              </a>
          </div>
          <div class="up-comming-pro-info f-left">
            <h3><a href="assets/#">About The Founder</a></h3>
            <p>We started our Tawas City Michigan location with the idea of delivering more to our customers. Our entire staff has a passion for bringing happiness to the people that we serve. Phone Daddies is much more than just a phone repair business, we consider ourselves to be artists in our trade. We are so pleased wherever we are able to present someone with a brand-new phone. We love the experience of being able to reunite people with the devices that they depend on!</p>
              <!--
            <div class="up-comming-time">
              <div data-countdown="2017/02/02"></div>
            </div>
          -->
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-sm col-xs-12">
        <div class="banner-item banner-1">
          <div class="ribbon-price">
            <span>REPAIRS</span>
          </div>
          <div class="banner-img">
            <a href="assets/#"><img src="assets/images/promo-background.jpg" alt="phone smashing on ground"></a>
          </div>
          <div class="banner-info">
            <h3><a href="assets/#">What We Do</a></h3>
            <ul class="banner-featured-list">
              <li>
                <i class="zmdi zmdi-check"></i><span>Screen Replacement</span>
              </li>
              <li>
                <i class="zmdi zmdi-check"></i><span>Water Damage</span>
              </li>
              <li>
                <i class="zmdi zmdi-check"></i><span>Ports & Buttons</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- UP COMMING PRODUCT SECTION END -->
