<!-- UP COMMING PRODUCT SECTION START -->
<div class="up-comming-product-section mb-80">
  <div class="container">
    <div class="row">
      <!-- up-comming-pro -->
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="up-comming-pro gray-bg clearfix">
          <div class="up-comming-pro-img f-left">
            <img src="assets/images/the-daddy.jpg" alt="The Phone Daddy Erick Whitford">
          </div>
          <div class="up-comming-pro-info f-left">
            <h3>About The Founder</h3>
            <p>Erick Whitford started Phone Daddies with the idea of delivering more to his customers. The entire Phone
              Daddies staff is passionate about bringing happiness to those they serve and love the experience of being
              able to reunite people with devices that they depend on!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 hidden-sm col-xs-12">
        <div class="banner-item banner-1">
          <div class="ribbon-price">
            <span>REPAIRS</span>
          </div>
          <div class="banner-img">
            <img src="assets/images/promo-background.jpg" alt="phone smashing on ground">
          </div>
          <div class="banner-info">
            <h3><a href="assets/#">What We Do</a></h3>
            <ul class="banner-featured-list">
              <li>
                <i class="zmdi zmdi-check"></i><span>Screen Replacement</span>
              </li>
              <li>
                <i class="zmdi zmdi-check"></i><span>Water Damage</span>
              </li>
              <li>
                <i class="zmdi zmdi-check"></i><span>Ports & Buttons</span>
              </li>
              <li>
                <i class="zmdi zmdi-check"></i><span>Display issues</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- UP COMMING PRODUCT SECTION END -->
