<!-- START HEADER AREA -->
<header class="header-area header-wrapper">
  <!-- header-top-bar -->
  <div class="header-top-bar plr-185">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
          <div class="call-us">
            <p class="mb-0 roboto">+1 (989) 820-5851</p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="top-link clearfix">
            <ul class="link f-right">
              <li>
                <a routerLink="/dash">
                  <i class="zmdi zmdi-account"></i>
                  My Account
                </a>
              </li>
              <li>
                <a routerLink="/dash">
                  <i class="zmdi zmdi-lock"></i>
                  Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header-middle-area -->
  <div id="sticky-header" class="header-middle-area plr-185">
    <div class="container-fluid">
      <div class="full-width-mega-dropdown">
        <div class="row">
          <!-- logo -->
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="logo">
              <a routerLink="/">
                <img src="assets/img/logo/logo.png" class="big-logo" alt="main logo">
              </a>
            </div>
          </div>
          <!-- primary-menu -->
          <div class="col-md-10 col-sm-6 col-xs-12">
            <nav id="primary-menu">
              <ul class="main-menu text-right">
                <li *ngFor="let link of links">
                  <a routerLink="{{link.link}}">{{link.text}}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- END HEADER AREA -->

<!-- START MOBILE MENU AREA -->
<div class="mobile-menu-area hidden-lg hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="mobile-menu">
          <nav id="dropdown">
            <ul>
              <li *ngFor="let link of links">
                <a routerLink="{{link.link}}">{{link.text}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MOBILE MENU AREA -->
