<h2 (click)="toggle = (toggle) ? false : true">Hours</h2>

<form *ngIf="toggle" class="form-inline">
  <div>
    <input *ngIf="!day" type="text" class="form-control" placeholder="Day" disabled>
    <input *ngIf="day" type="text" class="form-control" placeholder="Day" value="{{ day }}" disabled>
    <select type="text" class="form-control" [(ngModel)]="open" name="open">
      <option selected disabled>Opening Time</option>
      <option *ngFor="let time of getHours()" value="{{ time }}">{{ time }}</option>
    </select>
    <select type="text" class="form-control" [(ngModel)]="close" name="close">
      <option selected disabled>Closing Time</option>
      <option *ngFor="let time of getHours()" value="{{ time }}">{{ time }}</option>
    </select>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="true" [(ngModel)]="closed" name="closed">
        Closed
      </label>
    </div>
    <button *ngIf="!day" class="btn btn-default" disabled>Update</button>
    <button *ngIf="day" class="btn btn-default" (click)="updateDay()">Update</button>
  </div>
</form>

<table *ngIf="toggle" class="table">
  <thead>
    <tr>
      <th scope="col">Week Day</th>
      <th scope="col">Available</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dayOfWeek of days" (click)="getDay(dayOfWeek)">
      <th scope="row">{{ dayOfWeek }}</th>
      <td *ngIf="!hours[dayOfWeek]">Closed</td>
      <td *ngIf="hours[dayOfWeek]">{{ hours[dayOfWeek].open }} - {{hours[dayOfWeek].close }}</td>
    </tr>
  </tbody>
</table>
