<h2 (click)="toggle = (toggle) ? false : true">Prices</h2>

<form class="form-inline" *ngIf="toggle">
  <select name="make" class="form-control" [(ngModel)]="quote.make">
    <option value="" selected disabled>Make</option>
    <option *ngFor="let make of allMakes" value="{{ make }}">{{ make }}</option>
  </select>
  <select *ngIf="!quote.make" class="form-control" disabled>
    <option value="" selected disabled>Model</option>
  </select>
  <select name="model" *ngIf="quote.make" class="form-control" [(ngModel)]="quote.model">
    <option value="" selected disabled>Model</option>
    <option *ngFor="let model of allModels[quote.make]" value="{{ model }}">{{ model }}</option>
  </select>
  <input *ngIf="!quote.make || !quote.model" type="number" class="form-control" placeholder="Price" name="quote"
    disabled>
  <input *ngIf="quote.make && quote.model" type="number" class="form-control" placeholder="0" name="quote" [(ngModel)]="quote.quote">
  <button *ngIf="!quote.make || !quote.model || !quote.quote" class="btn btn-default" disabled>Save</button>
  <button *ngIf="quote.make && quote.model && quote.quote" class="btn btn-default" (click)="saveQuote()">Save</button>
</form>

<table class="table" *ngIf="toggle">
  <thead>
    <tr>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Quote</th>
    </tr>
  </thead>
  <tbody *ngFor="let make of makes">
    <tr *ngFor="let model of models[make]" (click)="updateQuote(make, model)">
      <th scope="row">{{ make }}</th>
      <td scope="row">{{ model }}</td>
      <td scope="row" *ngIf="quotes[make][model]">${{ quotes[make][model] }}</td>
      <td scope="row" *ngIf="!quotes[make][model]">$0</td>
    </tr>
  </tbody>
</table>
