<!-- phones section -->
<div class="by-brand-section mb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-left mb-40">
          <h2 class="uppercase">You're Covered</h2>
          <h6>No matter the phone, we can order custom parts to fix your device!</h6>
        </div>
      </div>
    </div>
    <div class="by-brand-product">
      <div class="row active-by-brand slick-arrow-2">

        <!-- phones loop -->
        <div *ngFor="let phone of phones" class="col-xs-12">
          <div class="single-brand-product">
            <a routerLink="{{phone.link}}"><img src="assets/images/phones/{{phone.image}}" alt="{{phone.brand}}"></a>
            <h3 class="brand-title text-gray">
              <a routerLink="form/repair">{{phone.brand}}</a>
            </h3>
          </div>
        </div>

        <!-- / phones section -->

      </div>
    </div>
  </div>
</div>
