<h2 (click)="toggle = (toggle) ? false : true">Unavailable</h2>

<form class="form-inline" *ngIf="toggle">
  <input type="date" class="form-control" name="date" [(ngModel)]="date.date">
  <input type="time" class="form-control" name="out" [(ngModel)]="date.out">
  <input type="time" class="form-control" name="in" [(ngModel)]="date.in">
  <button *ngIf="!date.in || !date.out || !date.date" class="btn btn-default" disabled>Add</button>
  <button *ngIf="date.in && date.out && date.date"class="btn btn-default" (click)="addDate()">Add</button>
</form>

<table class="table" *ngIf="toggle">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Times</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let date of dates">
          <th scope="row">{{ date.date }}</th>
          <td scope="row">{{ date.out}} - {{ date.in }}</td>
          <td scope="row" class="delete" (click)="deleteDate(date.date)">Delete</td>
        </tr>
  </tbody>
</table>
