h2 {
    cursor: pointer;
}

form input {
    margin-right: 15px;
}

table * {
    color: #000;
}

table td.delete {
    color: #F00;
    cursor: pointer;
}

form button {
    float: right;
    margin-top: 5px;
}