
/* Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Roboto:400,500,700';

/* Custom-content all */
.boxed-layout .wrapper {
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    margin: auto;
    position: relative;
    width: 1240px;
}
.boxed-layout .sticky {
    left: auto;
    margin: auto;
    width: 1240px;
}

/* main logo sizing */

img.big-logo {
  height: 32px;
}

/* count down css */

.up-comming-time .cdown {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}
.up-comming-time .cdown:last-child {
  margin-right: 0;
}

.up-comming-time .time-count {
  border: 1px solid #4CAF50;
  border-radius: 50%;
  color: #999999;
  display: block;
  font-family: roboto;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.up-comming-time .cdown p {
  color: #8a8888;
  line-height: 10px;
  margin: 10px 0 0;
}
