
.blog-img {}
.blog-img > a {
  display: block;
}
.blog-img img {
  width: 100%;
}
.blog-title {
  font-weight: 700;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog-desc p {
  margin-bottom: 25px;
}
.blog-item .read-more {
  margin-bottom: 45px;
}
.read-more a {
  display: inline-block;
  font-weight: 500;
  line-height: 14px;
}
.blog-meta {
  line-height: 1;
}
.blog-meta li {
  display: inline-block;
  margin-left: 15px;
}
.blog-meta li:first-child {
  margin-left: 0;
}
.blog-meta li a {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}
.blog-meta li a i {
  font-size: 13px;
  margin-right: 10px;
}
.blog-item {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
.blog-item img {
  width: 100%;
}
.blog-item .blog-desc {
  backface-visibility: hidden;
  background: rgba(76, 175, 80, 0.95) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  padding: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.blog-item .blog-desc::before, .blog-item .blog-desc::after {
  bottom: 20px;
  content: "";
  left: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity 0.35s ease 0s, transform 0.5s ease 0s;
}
.blog-item .blog-desc::before {
border-bottom: 1px solid #fefefe;
border-top: 1px solid #fefefe;
transform: scale(0, 1);
}
.blog-item .blog-desc::after {
border-left: 1px solid #fefefe;
border-right: 1px solid #fefefe;
transform: scale(1, 0);
}
.blog-item:hover .blog-desc::before, .blog-item:hover .blog-desc::after {
opacity: 1;
transform: scale(1);
}
.blog-item:hover .blog-desc {
  opacity: 1;
}
.blog-title {
  text-transform: uppercase;
}
.blog-item .blog-title,
.blog-item .blog-desc p,
.blog-item .read-more a,
.blog-item .blog-meta li a { color: #fefefe; }

.blog-item .blog-title:hover a,
.blog-item .read-more a:hover,
.blog-item .blog-meta li a:hover { color: #ccc; }
