<!-- BLOG SECTION START -->
<div class="blog-section mb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-left mb-40">
          <h2 class="uppercase">Latest blog</h2>
          <h6>Check out our latest updates and repairs!</h6>
        </div>
      </div>
    </div>
    <div class="blog">
      <div class="row active-blog">

        <!-- blog-item start -->
        <div class="col-xs-12" *ngFor="let blog of blogs; let x of index">
          <div class="blog-item">
            <img src="{{blog.image}}" alt="{{blog.alt}}">
            <div class="blog-desc">
              <a href="{{blog.link}}">
                <h5 class="blog-title">{{blog.title}}</h5>
              </a>
              <p>{{blog.body}}</p>
              <div class="read-more">
                <a href="{{blog.link}}">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- blog-item end -->

      </div>
    </div>
  </div>
</div>
<!-- BLOG SECTION END -->
